#!/bin/bash

echo "HERE0"

cd {{workspace}}/{{dir.server_code}}

echo "HERE1"

gradle wrapper

echo "HERE2"

./gradlew clean build -x test -Pprofile={{env}} --info

echo "HERE3"

tar -zxvf {{workspace}}/{{dir.server_code}}/build/distributions/zipsa-*.tar.gz -C {{workspace}}
